.alertCard {
	position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    max-width: 220px;
    background-color: orange;
    border: 2px solid #000;
    border-radius: 8px;
    /*box-sizing: border-box;*/
    padding: 15px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.alertCard p {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 16px;
}