.card {
    width: 100%;
    max-width: 220px;
    background-color: #5a67af;
    border-radius: 16px;
    padding: 15px 15px 30px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.card > p {
    font-size: 18px;
    font-family: 'Arial';
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.card input {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Arial';
    font-weight: bold;
    width: 100%;
    outline: none;
    text-align: center;
    border: 1px solid #358be400;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.card input:focus {
    border: 1px solid #808080;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.button-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .button{
        text-transform: uppercase;
        width: 49%;
        height: 40%;
        padding: 10px;
        // margin-left: 5px;
        margin-bottom: 10px;
    }
}
// ВЫВОД \\
.out-txt{
    color: #000;
    font-weight: normal;
    margin-bottom: 5px !important;
}
// DELETE ELEMENT \\
.del{
    display: none;
    flex-direction: column;
    p{
        font-family: 'Arial';
        margin-top: 10px;
        margin-bottom: 0;
        color:#fff;
        font-weight: bold;
        font-size: 20px;
    }
    input{
        margin-top: 20px;
    }
    .button{
        margin-top: 10px;
    }
}