body {
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    /*justify-content: center;*/
    /*    -ms-align-items: center;
    align-items: center;*/
    /*height: 600px;*/
    background-color: #fff;
}

.block {
    display: flex !important;
}

.warning {
    background-color: #fa2929bf !important;
    color: #fff;
    font-weight: bold;
}

.accept {
    background-color: green !important;
    color: #fff;
    font-weight: bold;
}

// BUTTON \\
.button {
    outline: none;
    -ms-align-self: center;
    align-self: center;
    background-color: #fff;
    border-radius: 8px;
    background-color: #FFD671;
    border: 1px solid #000;
    padding: 12px 45px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: #FFE095;
}

.button:active {
    background-color: #BFA870;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.reboot {
    width: 20px;
    height: 20px;
    background-color: #FFD671;
    border-radius: 100px;
    border: 1px solid #000;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.reboot:hover {
    background-color: #ef7991;
}

.reboot:active {
    background-color: #cc1137;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

@import 'menu.scss';
@import 'card.scss';
@import 'acard.scss';
@import 'slider.scss';
@import 'sliderjq.scss';

.out {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.out p {
    margin: 0 0px 10px 0;
    background-color: #fff;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 22px;
    -ms-align-self: center;
    align-self: center;
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.block {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border: 3px solid #000;
    background-color: orange;
    transition: all ease 1s;
}