.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.menu{
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;  
	background-color: #FFF195;
	margin-bottom: 30px;
	border-bottom: 3px solid #e9e5e5;
}
.menu li{
	list-style-type: none;
	/*padding: 20px 20px 20px 20px;*/
	/*display: block;*/
}
.menu a{
    text-transform: uppercase;
    font-weight: bold;
	display: block;
	text-decoration: none;
	/*color: #BFB570;*/
	color: #000;
	box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	border: 1px solid #fff;


}
.menu a:hover{
	background-color: #A69525;
	color: #FFF195;

}