
.main{
	flex-direction: column;
}
.slider {
    width: 290px;
    // width: 100%;
    // height: calc(100% + 225px);
    border: 5px solid #000;
    margin: 50px auto;
    overflow: hidden;
}

.polosa {
	// width: 2030px;
	// width: 100%;
	display: flex;
    background: pink;
    height: 100%;
    position: relative;
    left:0;
    transition: all ease 1s;

}
.polosa img {
    // float: left;
    // width: 128px;
    // height: 64px;
}
.polosa::after {
	content: '';
    display: block;
    clear: both;
}