.alertCard {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  max-width: 220px;
  background-color: orange;
  border: 2px solid #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  /*box-sizing: border-box;*/
  padding: 15px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.alertCard p {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial';
  font-size: 16px; }
