.card {
  width: 100%;
  max-width: 220px;
  background-color: #5a67af;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 15px 15px 30px;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card > p {
  font-size: 18px;
  font-family: 'Arial';
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card input {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Arial';
  font-weight: bold;
  width: 100%;
  outline: none;
  text-align: center;
  border: 1px solid #358be400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.card input:focus {
  border: 1px solid #808080;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

.button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .button-container .button {
    text-transform: uppercase;
    width: 49%;
    height: 40%;
    padding: 10px;
    margin-bottom: 10px; }

.out-txt {
  color: #000;
  font-weight: normal;
  margin-bottom: 5px !important; }

.del {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .del p {
    font-family: 'Arial';
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 20px; }
  .del input {
    margin-top: 20px; }
  .del .button {
    margin-top: 10px; }
