body {
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /*justify-content: center;*/
  /*    -ms-align-items: center;
    align-items: center;*/
  /*height: 600px;*/
  background-color: #fff; }

.block {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.warning {
  background-color: #fa2929bf !important;
  color: #fff;
  font-weight: bold; }

.accept {
  background-color: green !important;
  color: #fff;
  font-weight: bold; }

.button {
  outline: none;
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFD671;
  border: 1px solid #000;
  padding: 12px 45px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }

.button:hover {
  background-color: #FFE095; }

.button:active {
  background-color: #BFA870;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.reboot {
  width: 20px;
  height: 20px;
  background-color: #FFD671;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: 1px solid #000;
  outline: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.reboot:hover {
  background-color: #ef7991; }

.reboot:active {
  background-color: #cc1137;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF195;
  margin-bottom: 30px;
  border-bottom: 3px solid #e9e5e5; }

.menu li {
  list-style-type: none;
  /*padding: 20px 20px 20px 20px;*/
  /*display: block;*/ }

.menu a {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none;
  /*color: #BFB570;*/
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  border: 1px solid #fff; }

.menu a:hover {
  background-color: #A69525;
  color: #FFF195; }

.card {
  width: 100%;
  max-width: 220px;
  background-color: #5a67af;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 15px 15px 30px;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card > p {
  font-size: 18px;
  font-family: 'Arial';
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card input {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Arial';
  font-weight: bold;
  width: 100%;
  outline: none;
  text-align: center;
  border: 1px solid #358be400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.card input:focus {
  border: 1px solid #808080;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

.button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .button-container .button {
    text-transform: uppercase;
    width: 49%;
    height: 40%;
    padding: 10px;
    margin-bottom: 10px; }

.out-txt {
  color: #000;
  font-weight: normal;
  margin-bottom: 5px !important; }

.del {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .del p {
    font-family: 'Arial';
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 20px; }
  .del input {
    margin-top: 20px; }
  .del .button {
    margin-top: 10px; }

.alertCard {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  max-width: 220px;
  background-color: orange;
  border: 2px solid #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  /*box-sizing: border-box;*/
  padding: 15px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.alertCard p {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial';
  font-size: 16px; }

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.slider {
  width: 290px;
  border: 5px solid #000;
  margin: 50px auto;
  overflow: hidden; }

.polosa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: pink;
  height: 100%;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }

.polosa::after {
  content: '';
  display: block;
  clear: both; }

.images .image {
  background: #e9e9e9;
  font: normal 22px Arial;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .images .image.active {
    -webkit-box-shadow: inset 0 0 0 2px red;
            box-shadow: inset 0 0 0 2px red; }
  .images .image1 {
    width: 80px;
    height: 70px; }
  .images .image2 {
    width: 120px;
    height: 83px; }
  .images .image3 {
    width: 80px;
    height: 70px; }
  .images .image4 {
    width: 140px;
    height: 65px; }
  .images .image5 {
    width: 255px;
    height: 80px; }
  .images .image6 {
    width: 98px;
    height: 140px; }
  .images .image7 {
    width: 115px;
    height: 80px; }

.slider {
  overflow: hidden; }
  .slider .track {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }

.slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  max-width: 520px; }

.out {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.out p {
  margin: 0 0px 10px 0;
  background-color: #fff;
  border: 1px solid #808080;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 6px 22px;
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }
  .out p:last-child {
    margin-bottom: 0; }

.block {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 3px solid #000;
  background-color: orange;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }
