.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.slider {
  width: 290px;
  border: 5px solid #000;
  margin: 50px auto;
  overflow: hidden; }

.polosa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: pink;
  height: 100%;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }

.polosa::after {
  content: '';
  display: block;
  clear: both; }
