.images .image {
  background: #e9e9e9;
  font: normal 22px Arial;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .images .image.active {
    -webkit-box-shadow: inset 0 0 0 2px red;
            box-shadow: inset 0 0 0 2px red; }
  .images .image1 {
    width: 80px;
    height: 70px; }
  .images .image2 {
    width: 120px;
    height: 83px; }
  .images .image3 {
    width: 80px;
    height: 70px; }
  .images .image4 {
    width: 140px;
    height: 65px; }
  .images .image5 {
    width: 255px;
    height: 80px; }
  .images .image6 {
    width: 98px;
    height: 140px; }
  .images .image7 {
    width: 115px;
    height: 80px; }

.slider {
  overflow: hidden; }
  .slider .track {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }

.slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  max-width: 520px; }
