body {
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /*justify-content: center;*/
  /*    -ms-align-items: center;
    align-items: center;*/
  /*height: 600px;*/
  background-color: #fff; }

.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF195;
  margin-bottom: 30px;
  border-bottom: 3px solid #e9e5e5; }

.menu li {
  list-style-type: none;
  /*padding: 20px 20px 20px 20px;*/
  /*display: block;*/ }

.menu a {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none;
  /*color: #BFB570;*/
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  border: 1px solid #fff; }

.menu a:hover {
  background-color: #A69525;
  color: #FFF195; }

.card {
  width: 100%;
  max-width: 220px;
  background-color: #5a67af;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 15px 15px 30px;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card p {
  font-size: 18px;
  font-family: 'Arial';
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card input {
  font-size: 18px;
  font-family: 'Arial';
  font-weight: bold;
  width: 100%;
  outline: none;
  text-align: center;
  border: 1px solid #358be400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.card input:focus {
  border: 1px solid #808080;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

.guess {
  outline: none;
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFD671;
  border: 1px solid #000;
  padding: 12px 45px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }

.guess:hover {
  background-color: #FFE095; }

.guess:active {
  background-color: #BFA870;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.reboot {
  width: 20px;
  height: 20px;
  background-color: #FFD671;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: 1px solid #000;
  outline: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.reboot:hover {
  background-color: #ef7991; }

.reboot:active {
  background-color: #cc1137;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

#out {
  background-color: #fff;
  border: 1px solid #808080;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 6px 22px;
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase; }

#out {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#out p {
  margin: 0 10px 0 0; }

#outTxt {
  color: #000;
  font-weight: normal; }

.alertCard {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  max-width: 220px;
  background-color: orange;
  border: 2px solid #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  /*box-sizing: border-box;*/
  padding: 15px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.alertCard p {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial';
  font-size: 16px; }

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

  
  #chess_board {
    width: 160px;
  }
  .w {
    width: 20px;
    height: 20px;
    background-color: #cfc;
    position: relative;
    float:left;
  }
  .b {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: relative;
    float:left;
    color: #fff;
  }