.images {

	.image {
		background: #e9e9e9;
		font: normal 22px Arial;
		color: #000;


		display: flex;
		align-items: center;
		justify-content: center;

		margin: 0 15px;

		flex-shrink: 0;

		&.active {
			box-shadow: inset 0 0 0 2px red;
		}


		&1 {
			width: 80px;
			height: 70px;
		}

		&2 {
			width: 120px;
			height: 83px;
		}

		&3 {
			width: 80px;
			height: 70px;
		}

		&4 {
			width: 140px;
			height: 65px;
		}

		&5 {
			width: 255px;
			height: 80px;
		}

		&6 {
			width: 98px;
			height: 140px;
		}

		&7 {
			width: 115px;
			height: 80px;
		}

	}
}


.slider {
	overflow: hidden;
	.track {
		width: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		position: relative;

		.item {

		}
	}
}
.slider-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
	width: 100px;
	max-width: 520px;
}