.images .image {
  background: #e9e9e9;
  font: normal 22px Arial;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  flex-shrink: 0; }
  .images .image.active {
    box-shadow: inset 0 0 0 2px red; }
  .images .image1 {
    width: 80px;
    height: 70px; }
  .images .image2 {
    width: 120px;
    height: 83px; }
  .images .image3 {
    width: 80px;
    height: 70px; }
  .images .image4 {
    width: 140px;
    height: 65px; }
  .images .image5 {
    width: 255px;
    height: 80px; }
  .images .image6 {
    width: 98px;
    height: 140px; }
  .images .image7 {
    width: 115px;
    height: 80px; }

.slider {
  overflow: hidden; }
  .slider .track {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; }

/*# sourceMappingURL=styles.css.map */
